body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:590px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:76px;
  width:287px;
  height:209px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:209px;
}
#u1 {
  position:absolute;
  left:2px;
  top:96px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:194px;
  top:96px;
  width:100px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:194px;
  top:209px;
  width:100px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:194px;
  top:319px;
  width:100px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:244px;
  top:153px;
  width:0px;
  height:53px;
}
#u8_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:67px;
}
#u9 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:244px;
  top:266px;
  width:0px;
  height:53px;
}
#u10_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:67px;
}
#u11 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:228px;
  top:50px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:370px;
  top:50px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:60px;
  top:209px;
  width:70px;
  height:60px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:194px;
  top:239px;
  width:-64px;
  height:0px;
}
#u18_seg0 {
  position:absolute;
  left:-68px;
  top:-10px;
  width:78px;
  height:20px;
}
#u19 {
  position:absolute;
  left:-82px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:337px;
  top:89px;
  width:253px;
  height:74px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:74px;
}
#u21 {
  position:absolute;
  left:2px;
  top:1px;
  width:249px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:337px;
  top:314px;
  width:253px;
  height:71px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:71px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:249px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:294px;
  top:126px;
  width:43px;
  height:0px;
}
#u24_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:57px;
  height:20px;
}
#u25 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:294px;
  top:349px;
  width:43px;
  height:1px;
}
#u26_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:47px;
  height:20px;
}
#u26_seg1 {
  position:absolute;
  left:23px;
  top:-10px;
  width:20px;
  height:21px;
}
#u26_seg2 {
  position:absolute;
  left:23px;
  top:-9px;
  width:24px;
  height:20px;
}
#u27 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:337px;
  top:209px;
  width:253px;
  height:60px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:253px;
  height:60px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:249px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:294px;
  top:239px;
  width:43px;
  height:0px;
}
#u30_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:57px;
  height:20px;
}
#u31 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:40px;
  top:516px;
  width:287px;
  height:209px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:209px;
}
#u33 {
  position:absolute;
  left:2px;
  top:96px;
  width:283px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:194px;
  top:536px;
  width:100px;
  height:60px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u35 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:194px;
  top:649px;
  width:100px;
  height:60px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u37 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:194px;
  top:759px;
  width:100px;
  height:60px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u39 {
  position:absolute;
  left:2px;
  top:21px;
  width:96px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:244px;
  top:593px;
  width:0px;
  height:53px;
}
#u40_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:67px;
}
#u41 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:244px;
  top:706px;
  width:0px;
  height:53px;
}
#u42_seg0 {
  position:absolute;
  left:-10px;
  top:-4px;
  width:20px;
  height:67px;
}
#u43 {
  position:absolute;
  left:-50px;
  top:18px;
  width:100px;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:228px;
  top:490px;
  width:33px;
  height:22px;
  font-size:16px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  height:22px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:33px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:370px;
  top:490px;
  width:65px;
  height:22px;
  font-size:16px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:22px;
}
#u47 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u48 {
  position:absolute;
  left:60px;
  top:649px;
  width:70px;
  height:60px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:60px;
}
#u49 {
  position:absolute;
  left:2px;
  top:12px;
  width:66px;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:194px;
  top:679px;
  width:-64px;
  height:0px;
}
#u50_seg0 {
  position:absolute;
  left:-68px;
  top:-10px;
  width:78px;
  height:20px;
}
#u51 {
  position:absolute;
  left:-82px;
  top:-9px;
  width:100px;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:337px;
  top:536px;
  width:130px;
  height:60px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u53 {
  position:absolute;
  left:2px;
  top:21px;
  width:126px;
  word-wrap:break-word;
}
#u54 {
  position:absolute;
  left:337px;
  top:759px;
  width:130px;
  height:60px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:60px;
}
#u55 {
  position:absolute;
  left:2px;
  top:12px;
  width:126px;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:294px;
  top:566px;
  width:43px;
  height:0px;
}
#u56_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:57px;
  height:20px;
}
#u57 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:294px;
  top:789px;
  width:43px;
  height:0px;
}
#u58_seg0 {
  position:absolute;
  left:-4px;
  top:-10px;
  width:57px;
  height:20px;
}
#u59 {
  position:absolute;
  left:-28px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
