body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1075px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:73px;
  top:11px;
  width:81px;
  height:28px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#666666;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:28px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u2 {
  position:absolute;
  left:5px;
  top:36px;
  width:1070px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:1053px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1070px;
  height:1px;
}
#u3 {
  position:absolute;
  left:5px;
  top:11px;
  width:25px;
  height:22px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u4 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:38px;
  top:11px;
  width:25px;
  height:22px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:22px;
}
#u6 {
  position:absolute;
  left:2px;
  top:3px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:50px;
  top:59px;
  width:40px;
  height:18px;
  text-align:right;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:0px;
  top:160px;
  width:1070px;
  height:10px;
}
#u9_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_end {
  position:absolute;
  left:1053px;
  top:-5px;
  width:18px;
  height:20px;
}
#u9_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1070px;
  height:1px;
}
#u10 {
  position:absolute;
  left:880px;
  top:90px;
  width:50px;
  height:30px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u11 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:90px;
  top:54px;
  width:160px;
  height:25px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u12_input {
  font-family:'应用字体';
}
#u13 {
  position:absolute;
  left:90px;
  top:92px;
  width:160px;
  height:25px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13_input {
  font-family:'应用字体';
}
#u14 {
  position:absolute;
  left:24px;
  top:97px;
  width:66px;
  height:18px;
  text-align:right;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:90px;
  top:129px;
  width:160px;
  height:25px;
}
#u16_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u16_input {
  font-family:'应用字体';
}
#u17 {
  position:absolute;
  left:37px;
  top:134px;
  width:53px;
  height:18px;
  text-align:right;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u18 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u19 {
  position:absolute;
  left:288px;
  top:60px;
  width:57px;
  height:18px;
  text-align:right;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u21 {
  position:absolute;
  left:345px;
  top:54px;
  width:160px;
  height:25px;
}
#u21_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u21_input {
  font-family:'应用字体';
}
#u22 {
  position:absolute;
  left:345px;
  top:92px;
  width:160px;
  height:25px;
}
#u22_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u22_input {
  font-family:'应用字体';
}
#u23 {
  position:absolute;
  left:305px;
  top:98px;
  width:40px;
  height:18px;
  text-align:right;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  white-space:nowrap;
}
#u25 {
  position:absolute;
  left:345px;
  top:130px;
  width:160px;
  height:25px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u25_input {
  font-family:'应用字体';
}
#u26 {
  position:absolute;
  left:279px;
  top:134px;
  width:66px;
  height:18px;
  text-align:right;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:534px;
  top:60px;
  width:66px;
  height:18px;
  text-align:right;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u30 {
  position:absolute;
  left:600px;
  top:54px;
  width:160px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30_input {
  font-family:'应用字体';
}
#u31 {
  position:absolute;
  left:600px;
  top:92px;
  width:160px;
  height:25px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:160px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31_input {
  font-family:'应用字体';
}
#u32 {
  position:absolute;
  left:534px;
  top:98px;
  width:66px;
  height:18px;
  text-align:right;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:18px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:20px;
  top:180px;
  width:1013px;
  height:85px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:30px;
}
#u36 {
  position:absolute;
  left:2px;
  top:6px;
  width:84px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:88px;
  top:0px;
  width:280px;
  height:30px;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:30px;
}
#u38 {
  position:absolute;
  left:2px;
  top:6px;
  width:276px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:368px;
  top:0px;
  width:80px;
  height:30px;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u40 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:448px;
  top:0px;
  width:80px;
  height:30px;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u42 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:528px;
  top:0px;
  width:80px;
  height:30px;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u44 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:608px;
  top:0px;
  width:80px;
  height:30px;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:688px;
  top:0px;
  width:80px;
  height:30px;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u48 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:768px;
  top:0px;
  width:80px;
  height:30px;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u50 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:848px;
  top:0px;
  width:80px;
  height:30px;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u52 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:928px;
  top:0px;
  width:80px;
  height:30px;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u54 {
  position:absolute;
  left:2px;
  top:6px;
  width:76px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:0px;
  top:30px;
  width:88px;
  height:50px;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:88px;
  height:50px;
}
#u56 {
  position:absolute;
  left:2px;
  top:18px;
  width:84px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:88px;
  top:30px;
  width:280px;
  height:50px;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:50px;
}
#u58 {
  position:absolute;
  left:2px;
  top:17px;
  width:276px;
  visibility:hidden;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:368px;
  top:30px;
  width:80px;
  height:50px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u60 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:448px;
  top:30px;
  width:80px;
  height:50px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u62 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:528px;
  top:30px;
  width:80px;
  height:50px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u64 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:608px;
  top:30px;
  width:80px;
  height:50px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u66 {
  position:absolute;
  left:2px;
  top:10px;
  width:76px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:688px;
  top:30px;
  width:80px;
  height:50px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u68 {
  position:absolute;
  left:2px;
  top:16px;
  width:76px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:768px;
  top:30px;
  width:80px;
  height:50px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u70 {
  position:absolute;
  left:2px;
  top:18px;
  width:76px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:848px;
  top:30px;
  width:80px;
  height:50px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u72 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:928px;
  top:30px;
  width:80px;
  height:50px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:50px;
}
#u74 {
  position:absolute;
  left:2px;
  top:17px;
  width:76px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:882px;
  top:220px;
  width:50px;
  height:30px;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u76 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:112px;
  top:218px;
  width:274px;
  height:40px;
  color:#000000;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:274px;
  height:40px;
}
#u78 {
  position:absolute;
  left:2px;
  top:11px;
  width:270px;
  word-wrap:break-word;
}
#u80 {
  position:absolute;
  left:112px;
  top:257px;
  width:208px;
  height:40px;
  text-align:left;
}
#u80_img {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:40px;
}
#u81 {
  position:absolute;
  left:2px;
  top:11px;
  width:204px;
  word-wrap:break-word;
}
#u82 {
  position:absolute;
  left:797px;
  top:254px;
  width:219px;
  height:40px;
  text-align:left;
}
#u82_img {
  position:absolute;
  left:0px;
  top:0px;
  width:219px;
  height:40px;
}
#u83 {
  position:absolute;
  left:2px;
  top:2px;
  width:215px;
  word-wrap:break-word;
}
#u84 {
  position:absolute;
  left:958px;
  top:215px;
  width:58px;
  height:40px;
}
#u84_img {
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:40px;
}
#u85 {
  position:absolute;
  left:2px;
  top:12px;
  width:54px;
  visibility:hidden;
  word-wrap:break-word;
}
#u86 {
  position:absolute;
  left:962px;
  top:220px;
  width:50px;
  height:30px;
}
#u86_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u87 {
  position:absolute;
  left:2px;
  top:6px;
  width:46px;
  word-wrap:break-word;
}
