body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:283px;
  top:10px;
  width:120px;
  height:30px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u1 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:414px;
  top:10px;
  width:120px;
  height:30px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:20px;
  top:10px;
  width:120px;
  height:30px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:152px;
  top:10px;
  width:120px;
  height:30px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:0px;
  top:34px;
  width:1070px;
  height:10px;
}
#u8_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_end {
  position:absolute;
  left:1053px;
  top:-5px;
  width:18px;
  height:20px;
}
#u8_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1070px;
  height:1px;
}
#u9 {
  position:absolute;
  left:546px;
  top:10px;
  width:120px;
  height:30px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u10 {
  position:absolute;
  left:2px;
  top:6px;
  width:116px;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:20px;
  top:120px;
  width:445px;
  height:65px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:100px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  text-align:center;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u17 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:300px;
  top:0px;
  width:140px;
  height:30px;
  text-align:center;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:0px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u21 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:100px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u23 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:30px;
  text-align:center;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u25 {
  position:absolute;
  left:2px;
  top:8px;
  width:96px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:300px;
  top:30px;
  width:140px;
  height:30px;
  color:#009DD9;
  text-align:center;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u27 {
  position:absolute;
  left:2px;
  top:6px;
  width:136px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:20px;
  top:80px;
  width:70px;
  height:30px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u29 {
  position:absolute;
  left:2px;
  top:6px;
  width:66px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:120px;
  top:54px;
  width:830px;
  height:546px;
  overflow:hidden;
  visibility:hidden;
}
#u30_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:546px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u30_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:820px;
  height:540px;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:830px;
  height:550px;
}
#u32 {
  position:absolute;
  left:2px;
  top:262px;
  width:816px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:35px;
  width:820px;
  height:10px;
}
#u33_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_end {
  position:absolute;
  left:803px;
  top:-5px;
  width:18px;
  height:20px;
}
#u33_line {
  position:absolute;
  left:0px;
  top:5px;
  width:820px;
  height:1px;
}
#u34 {
  position:absolute;
  left:18px;
  top:14px;
  width:79px;
  height:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u36 {
  position:absolute;
  left:527px;
  top:490px;
  width:153px;
  height:30px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:153px;
  height:30px;
}
#u37 {
  position:absolute;
  left:2px;
  top:6px;
  width:149px;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:700px;
  top:490px;
  width:60px;
  height:30px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u39 {
  position:absolute;
  left:2px;
  top:6px;
  width:56px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:163px;
  top:118px;
  width:53px;
  height:18px;
  text-align:right;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u41 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u42 {
  position:absolute;
  left:189px;
  top:187px;
  width:27px;
  height:18px;
  text-align:right;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:18px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:163px;
  top:249px;
  width:53px;
  height:18px;
  text-align:right;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:18px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u46 {
  position:absolute;
  left:226px;
  top:182px;
  width:280px;
  height:25px;
}
#u46_input {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u46_input {
  font-family:'应用字体';
}
#u47 {
  position:absolute;
  left:226px;
  top:155px;
  width:257px;
  height:18px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  height:18px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:257px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:226px;
  top:100px;
  width:284px;
  height:50px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:50px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u49_input {
  font-family:'应用字体';
}
#u50 {
  position:absolute;
  left:376px;
  top:243px;
  width:130px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:25px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u50_input {
  font-family:'应用字体';
}
#u51 {
  position:absolute;
  left:226px;
  top:245px;
  width:140px;
  height:22px;
}
#u51_input {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:22px;
  font-family:'ArialMT', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u51_input {
  font-family:'应用字体';
}
#u51_input:disabled {
  color:grayText;
}
#u52 {
  position:absolute;
  left:226px;
  top:217px;
  width:280px;
  height:18px;
}
#u52_img {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  height:18px;
}
#u53 {
  position:absolute;
  left:0px;
  top:0px;
  width:280px;
  white-space:nowrap;
}
